Concesionario/concesionario.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="concesionario">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="coche" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:int" name="codCoche"/>
            <xs:element type="xs:string" name="marca"/>
            <xs:element type="xs:string" name="modelo"/>
            <xs:element type="xs:string" name="matricula"/>
            <xs:element type="xs:short" name="potencia"/>
            <xs:element type="xs:byte" name="plazas"/>
            <xs:element type="xs:byte" name="numPuertas"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
